.red{
    color: red;
}
.green{
    color: green;
}
.tableRow{
    padding-top: 5px;
    padding-right: 0px;
}
td{
    padding: 10px 0px;
    width: 10px;
}

.statusRed{ 
    padding: 5px 5px;
    text-align: center;
    color: white;
    background-color: red;
    width: 65px;
}
.statusOrange{ 
    padding: 5px 5px;
    text-align: center;
    background-color: Orange;
    width: 85px;
    border-radius: 10px;
}
.statusGreen{ 
    padding: 5px 5px;
    text-align: center;
    color: white;
    background-color: lightGreen;
    width: 70px;
    border-radius: 10px;
}
.statusBlue{ 
    padding: 5px 5px;
    text-align: center;
    background-color: lightBlue;
    width: 42px;
    border-radius: 10px;
}
.line{
    border-top: 2px solid lightgray;
    padding-right: 100%
}